extends layout 
block heading
    .row 
        .col-sm-5 
            form(role="form")
                .form-group 
                    label(for="") Username 
                    input(type="text" class="form-control" id="username")
                br
                .form-group 
                    label(for="") Write your message 
                    input(type="text" class="form-control" id="message")
                br
                button(type="submit" class="btn btn-primary") send   
block content 
    .container-fluid(class="m-3 p-5")
        h3= h3
        ul(class="list-group")



    script.
        const socket = io();
        $(document).ready(() => {
            $('form').submit((e) => {
                e.preventDefault();
                const username = $('#username').val();
                const message = $('#message').val();
                socket.emit('new chat', `${username} : ${message}`);
                $('#username').val('');
                $('#message').val('');
            });

            socket.on('received chat', (message) => {
                $('ul').append($('<li class="list-group-item">').text(message));
            });
        });